
body {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    padding: 55px;
    border-radius: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.top input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.top button {
    width: 45px;
    border-radius: 12px;
    border: none;
    outline: none;
}

.top button:hover {
    background: #ffffff;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#taskList li {
    padding: 20px;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btnAction {
    border-radius: 20px;
    border: none;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
}

.btnAction:hover {
    background: #ffffff;
    cursor: pointer;
}

#editWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #4e54c8;
    border: 1px solid #1b26f0;
    width: 415px;
    border-radius: 10px;
    z-index: 200;
    display: none;

}

#editWindow.open{
    display: block !important;
}

#backgroundEditWindow{
    position: fixed;
    top: 0;
    background-color: #4e54c8;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#backgroundEditWindow.open{
  display: block !important;
}

#btnCloseEditWindow.open{
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
}

#btnCloseEditWindow:hover {
    background: #ffffff;
}

form {
   width: 100%;
   margin-top: 20px; 
}

.frm-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-line label {
    margin-bottom: 7px;
}

.frm-line input {
    padding: 15px;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
}

.frm-line button {
    padding: 7px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    font-size: 1.2rem;
    outline: none;
}

.frm-line button:hover {
    background: #ffffff;
}